<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 seriesGrid">
    <div class="seriesTitle">
        <%= link_to image_tag(series.poster), series %>
       	<h3><%= link_to(series.title, series) %></h3>
        <p><strong>Next Episode:</strong>
            <% if series.next_episode === series.previous_episode %>
                TBA
            <% else %>
                <%= series.next_episode.air_date %> <%= series.next_episode.title %>
            <% end %>
        </p>
        <p><strong>Last Episode:</strong>
            <% if series.previous_episode %>
                <%= series.previous_episode.air_date %> <%= series.previous_episode.title %>
            <% else %>
                NA
            <% end %>
        </p>
    </div>
</div>