<div class="series">
	
	<div class="form-group" id="series-search">
    	<%= form_tag("/series", method: "get", class: "form-inline", id: "search-form") do %>
        	<%= text_field_tag :q, "", class: 'form-control search-query', id: "series-search-input", placeholder:'Search' %>
        <% end %>
    </div>
	<div class="row" id="seriesIndex">
    	<% @series.each do |series| %>
    		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 seriesGrid">
                <div class="seriesTitle">
                    <%= link_to image_tag(series.poster), series %>
       			    <h3><%= link_to(series.title, series) %></h3>
                </div>
        	</div>
    	<% end %>
	</div>
	<br>

	<%= link_to 'New Series', new_series_path %>
</div>


