<div class="series">
	
	<div class="form-group" id="series-search">
    	<%= form_tag("/series", method: "get", class: "form-inline", id: "search-form") do %>
        	<%= text_field_tag :q, "", class: 'form-control search-query', id: "series-search-input", placeholder:'Search' %>
        <% end %>
    </div>
    <div id="new-series">
        <p>Don't see what you're looking for? <%= link_to 'Add a new series', new_series_path %></p>
    </div>
	<div class="row" id="seriesIndex">
    	<%= render @series %>
	</div>
	<br>
    <% if params[:q] %>
    <% else %>
        <div class="apple_pagination"> 
            <%= will_paginate @series %>
        </div>
    <% end %>
	   
    
</div>


