<div class="seriesInfo">
	<div id="poster">
		<img src="<%= @series.poster %>">
	</div>
	<h1>
	  <%= @series.title %>
	</h1>
	<% if current_user && user_signed_in? %>
		<div id="addSeries">
			<% if @list.exists? %>
				<h3><%= link_to "Untrack", untrack_series_path(@series), :method => "delete" %></h3>
			<% else %>
				<h3><%= link_to "Track", track_series_path(@series), :method => "post" %></h3>
			<% end %>
		</div>
	<% end %>
	<div id="seriesDescription">
		<p><%= @series.description %></p>
	</div>
	<div id="extraInfo">
		<p><strong>Cast:</strong> <%= @series.cast %></p>
		<% if @series.creator === "" %>
		<% else %>
			<p><strong>Created by:</strong> <%= @series.creator %></p>
		<% end %>
		<p><strong>Next Episode:</strong></p>
		<p><strong>Last Episode:</strong></p>
	</div>

	<div class="seasonList">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<% @series.seasons.each do |season| %>

				<div class="panel">
				    <div class="panel-heading" role="tab" id="heading<%= season.season_number %>">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= season.season_number %>" aria-expanded="false" aria-controls="collapse<%= season.season_number %>">
				          Season <%= season.season_number %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse<%= season.season_number %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= season.season_number %>">
				      <div class="panel-body">
				      	<% season.episodes.each do |episode| %>
							<h4><%= episode.title %></h4>
							<p><%= episode.description %></p>
							<p><strong>Air Date:</strong> <%= episode.air_date %></p>
						<% end %>
				      </div>
					</div>
			  	</div>
			<% end %>
		</div>
	</div>
</div>

<% if current_user && current_user.admin? %>
	<%= link_to 'Edit', edit_series_path(@series) %> |
	<%= link_to 'Back', series_index_path %> |
	<%= link_to 'Delete', @series, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

